{{> head }}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About Page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem magnam quibusdam ipsum, nemo et mollitia amet consequatur veniam facilis, dolor iure! Voluptatem sed et molestiae cum quod consequatur perferendis!
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/tux-ninja.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer }}